

<h2>Pie Chart</h2>

<canvas id="myChart" width="50" height="50"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    data = {
        datasets: [{
            data: [24, 51],
            backgroundColor: [
                'rgb(247, 48, 51)',
                'rgb(247, 234, 48)'
            ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Required Attendance',
            'Current Attendance'
        ]
    };
    options = {
        responsive: true,
        maintainAspectRatio: false,
    };
    var myPieChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: options
    });

</script>