extends ../layouts/default.pug

block page-header
  h2 Student
  link(rel="stylesheet", href="/public/css/jquery-ui.min.css")

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-login
          .panel-heading
            .row
              .col-xs-6
                a#login-form-link.active(href="#") Login
              |                             
              .col-xs-6
                a#register-form-link(href="#") Register
            |                         
            hr
          |                     
          .panel-body
            .row
              .col-lg-12
                form#login-form(action="/studentsignin", method="post", role="form", style="display: block;")
                  .form-group
                    input#email.form-control(required="true", type="email", name="email", placeholder="@", value="")
                  |                                     
                  .form-group
                    input#password.form-control(required="true", type="password", name="password", placeholder="Password")
                  |                                     
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        input#login-submit.form-control.btn.btn-login(type="submit", name="login-submit", value="Log In")
                  |                                     
                  .form-group
                    .row
                      .col-lg-12
                        .text-center
                          a.forgot-password(href="", tabindex="5") Forgot Password?

                |                                 
                form#register-form(action="/studentsignup", method="post", role="form", style="display: none;")
                  .form-group
                    input#email.form-control(required="true" type="email", name="email", placeholder="Email Address", value="")
                  | 
                  .form-group
                    input#password.form-control(required="true" type="name", name="name", placeholder="Name")          
                  |                                       
                  .form-group
                    input#password.form-control(required="true" type="password", name="password", placeholder="Password")          
                  |                          
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        input#register-submit.form-control.btn.btn-register(type="submit", name="register-submit", value="Register Now")

  script(src="/public/js/jquery-2.2.2.js")
  script(src="/public/js/jquery-ui.min.js")
  script(src="/public/js/bootstrap.min.js")
  script.
    $(function() {

        $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });
      $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });

    });
    $( function() {
      $("#datepicker").datepicker({changeYear: true, changeMonth:true, yearRange : "1990:2000"});
    });
                      