extends ../layouts/default.pug

block page-header
  h1.text-center Welcome 
    span.user #{name} &ensp;
    a.btn.btn-danger(href='/studentlogout', role='button') Logout!

block content
  .row.studentdashboard
    .col-sm-12.col-md-12
      blockquote
        p email: #{email}
        p name: 
          span#studentname #{name}
        div#details
      .form-group
        a.btn.btn-lg.btn-info(href='/stats', role='button') Stats
  script(src="/public/js/jquery-2.2.2.js")
  script(src="/public/js/app.js")
